body{ /* default properties */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
  font-family: RedHatDisplay, Helvetica, 'Segoe UI', Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@font-face{
  font-family: RedHatDisplay;
  src: url(/assets/fonts/RedHatDisplay-Medium.ttf);
}

@font-face{
  font-family: RedHatDisplay;
  src: url(/assets/fonts/RedHatDisplay-SemiBold.ttf);
  font-weight: bold;
}

a{ /* link colors */
  color: rgb(11, 225, 131);
}

.title { /* title formatting */
  position: relative;
  font-family: RedHatDisplay;
  font-weight: bold;
  font-size: 82px;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
}

.article{
    width: 90%;
    max-width: 900px;
    margin-bottom: 50px;
}

::-moz-selection{ /* text selection properties for firefox */
  color: rgb(15, 158, 213);
  background: white;
}

::selection{ /* text selection properties for chromium browsers */
  color: rgb(15, 158, 213);
  background: white;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  font-family: RedHatDisplay;
  font-weight: bold;
}

hr{
  border-color: rgb(15, 158, 213);
}

header{
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(35, 35, 35);
  padding-top: 12px;
  padding-bottom: 5px;
  justify-content: center;
}

footer{
  display: flex;
  width: 100%;
  background-color: rgb(25, 25, 25);
  padding: 5px;
  justify-content: center;
  box-sizing: border-box;
}